
.button{
    border: 2px solid #00000;
    border-radius: 8px;
    font-family: "Open Sans", serif;
    font-size: 30px;
    color:  #00000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 40px;
    text-decoration: none;
    cursor: pointer;
}
.re{
     border: 1px solid #00000;
     border-radius: 8px;
     background-color: #3b4754;
     padding-top: 17px;
     padding-bottom: 17px;
     padding-left: 40px;
     padding-right: 40px;
     font-family: "Open Sans", serif;
     font-size: 35px;
     color:  white;
     text-decoration: none;
     cursor: progress;
}
.checkbox.card{
  border: 1px solid #f4f4f4;
  padding: 15px;
}
.apply-box{
  margin-top: 10px;
}
